[
 {of_switch,
  [
   {controllers,
    [
     %% If you want to connect to the controller,
     %% specify its hostname and port as in the following example:
     {"localhost", 6633}
    ]},
   {ports,
    [
     %% Configure port features. This part of the configuration will be handled
     %% by the OF-Config protocol in future releases of LINC.
     %% * Spec for port entry:
     %% [{integer(),
     %%   [{rate, {integer(), bps|kbps|kibps|mbps|mibps|gbps|gibps}} |
     %%    {queues, [{integer(), [{min_rate, integer()} |
     %%                           {max_rate, integer()}]}]}]]
     %% * Sample port entries:
     {1, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {2, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {3, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {4, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {5, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {6, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {7, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {8, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {9, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {10, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {11, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {12, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {13, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {14, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {15, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]},
     {16, [
          {rate, {100, kibps}},
          {queues, [{0, [{max_rate, 90}]}]}
         ]}
    ]},
   {backends,
    [
     {userspace, [
                  %% Configure ports available to the switch when using the
                  %% userspace backend according to your system setup.
                  %% * Under Linux all TAP interfaces must be set up beforehand
                  %%   as persistent.
                  %% * Under MacOSX TAP interfaces are created during node
                  %%   startup.
                  {ports,
                   [
		    						{1, [{interface, "tap0"}, {ip, "10.0.0.1"}]},
                    {2, [{interface, "tap1"}, {ip, "10.0.0.2"}]},
                    {3, [{interface, "tap2"}, {ip, "10.0.0.3"}]},
		    						{4, [{interface, "tap3"}, {ip, "10.0.0.4"}]},
                    {5, [{interface, "tap4"}, {ip, "10.0.0.5"}]},
                    {6, [{interface, "tap5"}, {ip, "10.0.0.6"}]},
		    						{7, [{interface, "tap6"}, {ip, "10.0.0.7"}]},
                    {8, [{interface, "tap7"}, {ip, "10.0.0.8"}]},
                    {9, [{interface, "tap8"}, {ip, "10.0.0.9"}]},
		    						{10, [{interface, "tap9"}, {ip, "10.0.0.10"}]},
                    {11, [{interface, "tap10"}, {ip, "10.0.0.11"}]},
                    {12, [{interface, "tap11"}, {ip, "10.0.0.12"}]},
		    						{13, [{interface, "tap12"}, {ip, "10.0.0.13"}]},
                    {14, [{interface, "tap13"}, {ip, "10.0.0.14"}]},
                    {15, [{interface, "tap14"}, {ip, "10.0.0.15"}]},
		    						{16, [{interface, "tap15"}, {ip, "10.0.0.16"}]}
                   ]}
                 ]}
    ]}
  ]},
 {lager,
  [
   {handlers,
    [
     {lager_console_backend, info},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 {sasl,
  [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].
